h1  {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

img {
    float: right;
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 13;
  overflow-x: hidden;
  padding-top: 30%;
  font-size: 375%;
}

.aboutphotos {
  width: auto;
  text-align: center;
  box-sizing: border-box;
  border: solid rgb(9, 253, 233);
  border-width: 7px;
  background-color: rgb(255, 145, 0);
  float: left;
  font-size: 200%;
}

.aboutphotos img {
  margin:auto;
  width: 50%;
  height:auto;
  display: block;
}

.narem img {
  margin:auto;
  width: 25%;
  height:auto;
  display: block
}

.intrests img {
  margin:auto;
  width: 40%;
  height:auto;
  display: block
}

.home {
  float: right;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 13;
  overflow-x: hidden;
  padding-top: 0%;
  font-size: 400%;
}

span {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(199, 199, 199);
}

.smarts {
  height: 100%;
  width: auto;
  overflow-x: hidden;
  padding-top: 0%;
  font-size: 200%;
}

h1  {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.nameplate {
  padding: 45px;
  background: #1f2e2b;
  color: white;
  font-size: 20px;
}

h1  {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.narem {
  float:left;
}

.bit {
  float:right;
}
.cuddles {
  float:center;
}

.projects {
  padding: 45px;
  background: #2a2b2b;
  color: white;
  font-size: 20px;
}